### Why Pandas?
- Flexibility with python
- better than excel to work with big data

In [1]:
import pandas as pd

data = pd.read_csv('data/pokemon_data.csv')
#read from excel files
data_excel = pd.read_excel('data/pokemon_data.xlsx')
#readind from text files
data_text = pd.read_csv('data/pokemon_data.txt', delimiter='\t')

In [115]:
# Display first 5 rows of the data
data_excel.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [116]:
# print all the columns
data.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [117]:
# get values of a single column
# can also be written as --? data.Name and data['Name']
data['Name']

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [118]:
# Get multiple columns
data[['Name','Attack','Speed']]

                      Name  Attack  Speed
0                Bulbasaur      49     45
1                  Ivysaur      62     60
2                 Venusaur      82     80
3    VenusaurMega Venusaur     100     80
4               Charmander      52     65
..                     ...     ...    ...
795                Diancie     100     50
796    DiancieMega Diancie     160    110
797    HoopaHoopa Confined     110     70
798     HoopaHoopa Unbound     160     80
799              Volcanion     110     70

[800 rows x 3 columns]

In [119]:
# Get first 5 rows of multiple columns 
data[['Name','Attack','Speed']][0:5]

                    Name  Attack  Speed
0              Bulbasaur      49     45
1                Ivysaur      62     60
2               Venusaur      82     80
3  VenusaurMega Venusaur     100     80
4             Charmander      52     65

In [120]:
# integer location based extraction - iloc : integer location
data.iloc[0:4]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False

In [121]:
# extracting value of a specific cell is down as follows - to get value of 0th row and 1st column
data.iloc[0,1]

'Bulbasaur'

In [122]:
# iterating through rows
for index, row in data.iterrows():
    print(index, row[['Name']])

0 Name    Bulbasaur
Name: 0, dtype: object
1 Name    Ivysaur
Name: 1, dtype: object
2 Name    Venusaur
Name: 2, dtype: object
3 Name    VenusaurMega Venusaur
Name: 3, dtype: object
4 Name    Charmander
Name: 4, dtype: object
5 Name    Charmeleon
Name: 5, dtype: object
6 Name    Charizard
Name: 6, dtype: object
7 Name    CharizardMega Charizard X
Name: 7, dtype: object
8 Name    CharizardMega Charizard Y
Name: 8, dtype: object
9 Name    Squirtle
Name: 9, dtype: object
10 Name    Wartortle
Name: 10, dtype: object
11 Name    Blastoise
Name: 11, dtype: object
12 Name    BlastoiseMega Blastoise
Name: 12, dtype: object
13 Name    Caterpie
Name: 13, dtype: object
14 Name    Metapod
Name: 14, dtype: object
15 Name    Butterfree
Name: 15, dtype: object
16 Name    Weedle
Name: 16, dtype: object
17 Name    Kakuna
Name: 17, dtype: object
18 Name    Beedrill
Name: 18, dtype: object
19 Name    BeedrillMega Beedrill
Name: 19, dtype: object
20 Name    Pidgey
Name: 20, dtype: object
21 Name    Pidgeotto
Name: 21, dtype: object
22 Name    Pidgeot
Name: 22, dtype: object
23 Name    PidgeotMega Pidgeot
Name: 23, dtype: object
24 Name    Rattata
Name: 24, dtype: object
25 Name    Raticate
Name: 25, dtype: object
26 Name    Spearow
Name: 26, dtype: object
27 Name    Fearow
Name: 27, dtype: object
28 Name    Ekans
Name: 28, dtype: object
29 Name    Arbok
Name: 29, dtype: object
30 Name    Pikachu
Name: 30, dtype: object
31 Name    Raichu
Name: 31, dtype: object
32 Name    Sandshrew
Name: 32, dtype: object
33 Name    Sandslash
Name: 33, dtype: object
34 Name    Nidoran (Female)
Name: 34, dtype: object
35 Name    Nidorina
Name: 35, dtype: object
36 Name    Nidoqueen
Name: 36, dtype: object
37 Name    Nidoran (Male)
Name: 37, dtype: object
38 Name    Nidorino
Name: 38, dtype: object
39 Name    Nidoking
Name: 39, dtype: object
40 Name    Clefairy
Name: 40, dtype: object
41 Name    Clefable
Name: 41, dtype: object
42 Name    Vulpix
Name: 42, dtype: object
43 Name    Ninetales
Name: 43, dtype: object
44 Name    Jigglypuff
Name: 44, dtype: object
45 Name    Wigglytuff
Name: 45, dtype: object
46 Name    Zubat
Name: 46, dtype: object
47 Name    Golbat
Name: 47, dtype: object
48 Name    Oddish
Name: 48, dtype: object
49 Name    Gloom
Name: 49, dtype: object
50 Name    Vileplume
Name: 50, dtype: object
51 Name    Paras
Name: 51, dtype: object
52 Name    Parasect
Name: 52, dtype: object
53 Name    Venonat
Name: 53, dtype: object
54 Name    Venomoth
Name: 54, dtype: object
55 Name    Diglett
Name: 55, dtype: object
56 Name    Dugtrio
Name: 56, dtype: object
57 Name    Meowth
Name: 57, dtype: object
58 Name    Persian
Name: 58, dtype: object
59 Name    Psyduck
Name: 59, dtype: object
60 Name    Golduck
Name: 60, dtype: object
61 Name    Mankey
Name: 61, dtype: object
62 Name    Primeape
Name: 62, dtype: object
63 Name    Growlithe
Name: 63, dtype: object
64 Name    Arcanine
Name: 64, dtype: object
65 Name    Poliwag
Name: 65, dtype: object
66 Name    Poliwhirl
Name: 66, dtype: object
67 Name    Poliwrath
Name: 67, dtype: object
68 Name    Abra
Name: 68, dtype: object
69 Name    Kadabra
Name: 69, dtype: object
70 Name    Alakazam
Name: 70, dtype: object
71 Name    AlakazamMega Alakazam
Name: 71, dtype: object
72 Name    Machop
Name: 72, dtype: object
73 Name    Machoke
Name: 73, dtype: object
74 Name    Machamp
Name: 74, dtype: object
75 Name    Bellsprout
Name: 75, dtype: object
76 Name    Weepinbell
Name: 76, dtype: object
77 Name    Victreebel
Name: 77, dtype: object
78 Name    Tentacool
Name: 78, dtype: object
79 Name    Tentacruel
Name: 79, dtype: object
80 Name    Geodude
Name: 80, dtype: object
81 Name    Graveler
Name: 81, dtype: object
82 Name    Golem
Name: 82, dtype: object
83 Name    Ponyta
Name: 83, dtype: object
84 Name    Rapidash
Name: 84, dtype: object
85 Name    Slowpoke
Name: 85, dtype: object
86 Name    Slowbro
Name: 86, dtype: object
87 Name    SlowbroMega Slowbro
Name: 87, dtype: object
88 Name    Magnemite
Name: 88, dtype: object
89 Name    Magneton
Name: 89, dtype: object
90 Name    Farfetch'd
Name: 90, dtype: object
91 Name    Doduo
Name: 91, dtype: object
92 Name    Dodrio
Name: 92, dtype: object
93 Name    Seel
Name: 93, dtype: object
94 Name    Dewgong
Name: 94, dtype: object
95 Name    Grimer
Name: 95, dtype: object
96 Name    Muk
Name: 96, dtype: object
97 Name    Shellder
Name: 97, dtype: object
98 Name    Cloyster
Name: 98, dtype: object
99 Name    Gastly
Name: 99, dtype: object
100 Name    Haunter
Name: 100, dtype: object
101 Name    Gengar
Name: 101, dtype: object
102 Name    GengarMega Gengar
Name: 102, dtype: object
103 Name    Onix
Name: 103, dtype: object
104 Name    Drowzee
Name: 104, dtype: object
105 Name    Hypno
Name: 105, dtype: object
106 Name    Krabby
Name: 106, dtype: object
107 Name    Kingler
Name: 107, dtype: object
108 Name    Voltorb
Name: 108, dtype: object
109 Name    Electrode
Name: 109, dtype: object
110 Name    Exeggcute
Name: 110, dtype: object
111 Name    Exeggutor
Name: 111, dtype: object
112 Name    Cubone
Name: 112, dtype: object
113 Name    Marowak
Name: 113, dtype: object
114 Name    Hitmonlee
Name: 114, dtype: object
115 Name    Hitmonchan
Name: 115, dtype: object
116 Name    Lickitung
Name: 116, dtype: object
117 Name    Koffing
Name: 117, dtype: object
118 Name    Weezing
Name: 118, dtype: object
119 Name    Rhyhorn
Name: 119, dtype: object
120 Name    Rhydon
Name: 120, dtype: object
121 Name    Chansey
Name: 121, dtype: object
122 Name    Tangela
Name: 122, dtype: object
123 Name    Kangaskhan
Name: 123, dtype: object
124 Name    KangaskhanMega Kangaskhan
Name: 124, dtype: object
125 Name    Horsea
Name: 125, dtype: object
126 Name    Seadra
Name: 126, dtype: object
127 Name    Goldeen
Name: 127, dtype: object
128 Name    Seaking
Name: 128, dtype: object
129 Name    Staryu
Name: 129, dtype: object
130 Name    Starmie
Name: 130, dtype: object
131 Name    Mr. Mime
Name: 131, dtype: object
132 Name    Scyther
Name: 132, dtype: object
133 Name    Jynx
Name: 133, dtype: object
134 Name    Electabuzz
Name: 134, dtype: object
135 Name    Magmar
Name: 135, dtype: object
136 Name    Pinsir
Name: 136, dtype: object
137 Name    PinsirMega Pinsir
Name: 137, dtype: object
138 Name    Tauros
Name: 138, dtype: object
139 Name    Magikarp
Name: 139, dtype: object
140 Name    Gyarados
Name: 140, dtype: object
141 Name    GyaradosMega Gyarados
Name: 141, dtype: object
142 Name    Lapras
Name: 142, dtype: object
143 Name    Ditto
Name: 143, dtype: object
144 Name    Eevee
Name: 144, dtype: object
145 Name    Vaporeon
Name: 145, dtype: object
146 Name    Jolteon
Name: 146, dtype: object
147 Name    Flareon
Name: 147, dtype: object
148 Name    Porygon
Name: 148, dtype: object
149 Name    Omanyte
Name: 149, dtype: object
150 Name    Omastar
Name: 150, dtype: object
151 Name    Kabuto
Name: 151, dtype: object
152 Name    Kabutops
Name: 152, dtype: object
153 Name    Aerodactyl
Name: 153, dtype: object
154 Name    AerodactylMega Aerodactyl
Name: 154, dtype: object
155 Name    Snorlax
Name: 155, dtype: object
156 Name    Articuno
Name: 156, dtype: object
157 Name    Zapdos
Name: 157, dtype: object
158 Name    Moltres
Name: 158, dtype: object
159 Name    Dratini
Name: 159, dtype: object
160 Name    Dragonair
Name: 160, dtype: object
161 Name    Dragonite
Name: 161, dtype: object
162 Name    Mewtwo
Name: 162, dtype: object
163 Name    MewtwoMega Mewtwo X
Name: 163, dtype: object
164 Name    MewtwoMega Mewtwo Y
Name: 164, dtype: object
165 Name    Mew
Name: 165, dtype: object
166 Name    Chikorita
Name: 166, dtype: object
167 Name    Bayleef
Name: 167, dtype: object
168 Name    Meganium
Name: 168, dtype: object
169 Name    Cyndaquil
Name: 169, dtype: object
170 Name    Quilava
Name: 170, dtype: object
171 Name    Typhlosion
Name: 171, dtype: object
172 Name    Totodile
Name: 172, dtype: object
173 Name    Croconaw
Name: 173, dtype: object
174 Name    Feraligatr
Name: 174, dtype: object
175 Name    Sentret
Name: 175, dtype: object
176 Name    Furret
Name: 176, dtype: object
177 Name    Hoothoot
Name: 177, dtype: object
178 Name    Noctowl
Name: 178, dtype: object
179 Name    Ledyba
Name: 179, dtype: object
180 Name    Ledian
Name: 180, dtype: object
181 Name    Spinarak
Name: 181, dtype: object
182 Name    Ariados
Name: 182, dtype: object
183 Name    Crobat
Name: 183, dtype: object
184 Name    Chinchou
Name: 184, dtype: object
185 Name    Lanturn
Name: 185, dtype: object
186 Name    Pichu
Name: 186, dtype: object
187 Name    Cleffa
Name: 187, dtype: object
188 Name    Igglybuff
Name: 188, dtype: object
189 Name    Togepi
Name: 189, dtype: object
190 Name    Togetic
Name: 190, dtype: object
191 Name    Natu
Name: 191, dtype: object
192 Name    Xatu
Name: 192, dtype: object
193 Name    Mareep
Name: 193, dtype: object
194 Name    Flaaffy
Name: 194, dtype: object
195 Name    Ampharos
Name: 195, dtype: object
196 Name    AmpharosMega Ampharos
Name: 196, dtype: object
197 Name    Bellossom
Name: 197, dtype: object
198 Name    Marill
Name: 198, dtype: object
199 Name    Azumarill
Name: 199, dtype: object
200 Name    Sudowoodo
Name: 200, dtype: object
201 Name    Politoed
Name: 201, dtype: object
202 Name    Hoppip
Name: 202, dtype: object
203 Name    Skiploom
Name: 203, dtype: object
204 Name    Jumpluff
Name: 204, dtype: object
205 Name    Aipom
Name: 205, dtype: object
206 Name    Sunkern
Name: 206, dtype: object
207 Name    Sunflora
Name: 207, dtype: object
208 Name    Yanma
Name: 208, dtype: object
209 Name    Wooper
Name: 209, dtype: object
210 Name    Quagsire
Name: 210, dtype: object
211 Name    Espeon
Name: 211, dtype: object
212 Name    Umbreon
Name: 212, dtype: object
213 Name    Murkrow
Name: 213, dtype: object
214 Name    Slowking
Name: 214, dtype: object
215 Name    Misdreavus
Name: 215, dtype: object
216 Name    Unown
Name: 216, dtype: object
217 Name    Wobbuffet
Name: 217, dtype: object
218 Name    Girafarig
Name: 218, dtype: object
219 Name    Pineco
Name: 219, dtype: object
220 Name    Forretress
Name: 220, dtype: object
221 Name    Dunsparce
Name: 221, dtype: object
222 Name    Gligar
Name: 222, dtype: object
223 Name    Steelix
Name: 223, dtype: object
224 Name    SteelixMega Steelix
Name: 224, dtype: object
225 Name    Snubbull
Name: 225, dtype: object
226 Name    Granbull
Name: 226, dtype: object
227 Name    Qwilfish
Name: 227, dtype: object
228 Name    Scizor
Name: 228, dtype: object
229 Name    ScizorMega Scizor
Name: 229, dtype: object
230 Name    Shuckle
Name: 230, dtype: object
231 Name    Heracross
Name: 231, dtype: object
232 Name    HeracrossMega Heracross
Name: 232, dtype: object
233 Name    Sneasel
Name: 233, dtype: object
234 Name    Teddiursa
Name: 234, dtype: object
235 Name    Ursaring
Name: 235, dtype: object
236 Name    Slugma
Name: 236, dtype: object
237 Name    Magcargo
Name: 237, dtype: object
238 Name    Swinub
Name: 238, dtype: object
239 Name    Piloswine
Name: 239, dtype: object
240 Name    Corsola
Name: 240, dtype: object
241 Name    Remoraid
Name: 241, dtype: object
242 Name    Octillery
Name: 242, dtype: object
243 Name    Delibird
Name: 243, dtype: object
244 Name    Mantine
Name: 244, dtype: object
245 Name    Skarmory
Name: 245, dtype: object
246 Name    Houndour
Name: 246, dtype: object
247 Name    Houndoom
Name: 247, dtype: object
248 Name    HoundoomMega Houndoom
Name: 248, dtype: object
249 Name    Kingdra
Name: 249, dtype: object
250 Name    Phanpy
Name: 250, dtype: object
251 Name    Donphan
Name: 251, dtype: object
252 Name    Porygon2
Name: 252, dtype: object
253 Name    Stantler
Name: 253, dtype: object
254 Name    Smeargle
Name: 254, dtype: object
255 Name    Tyrogue
Name: 255, dtype: object
256 Name    Hitmontop
Name: 256, dtype: object
257 Name    Smoochum
Name: 257, dtype: object
258 Name    Elekid
Name: 258, dtype: object
259 Name    Magby
Name: 259, dtype: object
260 Name    Miltank
Name: 260, dtype: object
261 Name    Blissey
Name: 261, dtype: object
262 Name    Raikou
Name: 262, dtype: object
263 Name    Entei
Name: 263, dtype: object
264 Name    Suicune
Name: 264, dtype: object
265 Name    Larvitar
Name: 265, dtype: object
266 Name    Pupitar
Name: 266, dtype: object
267 Name    Tyranitar
Name: 267, dtype: object
268 Name    TyranitarMega Tyranitar
Name: 268, dtype: object
269 Name    Lugia
Name: 269, dtype: object
270 Name    Ho-oh
Name: 270, dtype: object
271 Name    Celebi
Name: 271, dtype: object
272 Name    Treecko
Name: 272, dtype: object
273 Name    Grovyle
Name: 273, dtype: object
274 Name    Sceptile
Name: 274, dtype: object
275 Name    SceptileMega Sceptile
Name: 275, dtype: object
276 Name    Torchic
Name: 276, dtype: object
277 Name    Combusken
Name: 277, dtype: object
278 Name    Blaziken
Name: 278, dtype: object
279 Name    BlazikenMega Blaziken
Name: 279, dtype: object
280 Name    Mudkip
Name: 280, dtype: object
281 Name    Marshtomp
Name: 281, dtype: object
282 Name    Swampert
Name: 282, dtype: object
283 Name    SwampertMega Swampert
Name: 283, dtype: object
284 Name    Poochyena
Name: 284, dtype: object
285 Name    Mightyena
Name: 285, dtype: object
286 Name    Zigzagoon
Name: 286, dtype: object
287 Name    Linoone
Name: 287, dtype: object
288 Name    Wurmple
Name: 288, dtype: object
289 Name    Silcoon
Name: 289, dtype: object
290 Name    Beautifly
Name: 290, dtype: object
291 Name    Cascoon
Name: 291, dtype: object
292 Name    Dustox
Name: 292, dtype: object
293 Name    Lotad
Name: 293, dtype: object
294 Name    Lombre
Name: 294, dtype: object
295 Name    Ludicolo
Name: 295, dtype: object
296 Name    Seedot
Name: 296, dtype: object
297 Name    Nuzleaf
Name: 297, dtype: object
298 Name    Shiftry
Name: 298, dtype: object
299 Name    Taillow
Name: 299, dtype: object
300 Name    Swellow
Name: 300, dtype: object
301 Name    Wingull
Name: 301, dtype: object
302 Name    Pelipper
Name: 302, dtype: object
303 Name    Ralts
Name: 303, dtype: object
304 Name    Kirlia
Name: 304, dtype: object
305 Name    Gardevoir
Name: 305, dtype: object
306 Name    GardevoirMega Gardevoir
Name: 306, dtype: object
307 Name    Surskit
Name: 307, dtype: object
308 Name    Masquerain
Name: 308, dtype: object
309 Name    Shroomish
Name: 309, dtype: object
310 Name    Breloom
Name: 310, dtype: object
311 Name    Slakoth
Name: 311, dtype: object
312 Name    Vigoroth
Name: 312, dtype: object
313 Name    Slaking
Name: 313, dtype: object
314 Name    Nincada
Name: 314, dtype: object
315 Name    Ninjask
Name: 315, dtype: object
316 Name    Shedinja
Name: 316, dtype: object

317 Name    Whismur
Name: 317, dtype: object
318 Name    Loudred
Name: 318, dtype: object
319 Name    Exploud
Name: 319, dtype: object
320 Name    Makuhita
Name: 320, dtype: object
321 Name    Hariyama
Name: 321, dtype: object
322 Name    Azurill
Name: 322, dtype: object
323 Name    Nosepass
Name: 323, dtype: object
324 Name    Skitty
Name: 324, dtype: object
325 Name    Delcatty
Name: 325, dtype: object
326 Name    Sableye
Name: 326, dtype: object
327 Name    SableyeMega Sableye
Name: 327, dtype: object
328 Name    Mawile
Name: 328, dtype: object
329 Name    MawileMega Mawile
Name: 329, dtype: object
330 Name    Aron
Name: 330, dtype: object
331 Name    Lairon
Name: 331, dtype: object
332 Name    Aggron
Name: 332, dtype: object
333 Name    AggronMega Aggron
Name: 333, dtype: object
334 Name    Meditite
Name: 334, dtype: object
335 Name    Medicham
Name: 335, dtype: object
336 Name    MedichamMega Medicham
Name: 336, dtype: object
337 Name    Electrike
Name: 337, dtype: object
338 Name    Manectric
Name: 338, dtype: object
339 Name    ManectricMega Manectric
Name: 339, dtype: object
340 Name    Plusle
Name: 340, dtype: object
341 Name    Minun
Name: 341, dtype: object
342 Name    Volbeat
Name: 342, dtype: object
343 Name    Illumise
Name: 343, dtype: object
344 Name    Roselia
Name: 344, dtype: object
345 Name    Gulpin
Name: 345, dtype: object
346 Name    Swalot
Name: 346, dtype: object
347 Name    Carvanha
Name: 347, dtype: object
348 Name    Sharpedo
Name: 348, dtype: object
349 Name    SharpedoMega Sharpedo
Name: 349, dtype: object
350 Name    Wailmer
Name: 350, dtype: object
351 Name    Wailord
Name: 351, dtype: object
352 Name    Numel
Name: 352, dtype: object
353 Name    Camerupt
Name: 353, dtype: object
354 Name    CameruptMega Camerupt
Name: 354, dtype: object
355 Name    Torkoal
Name: 355, dtype: object
356 Name    Spoink
Name: 356, dtype: object
357 Name    Grumpig
Name: 357, dtype: object
358 Name    Spinda
Name: 358, dtype: object
359 Name    Trapinch
Name: 359, dtype: object
360 Name    Vibrava
Name: 360, dtype: object
361 Name    Flygon
Name: 361, dtype: object
362 Name    Cacnea
Name: 362, dtype: object
363 Name    Cacturne
Name: 363, dtype: object
364 Name    Swablu
Name: 364, dtype: object
365 Name    Altaria
Name: 365, dtype: object
366 Name    AltariaMega Altaria
Name: 366, dtype: object
367 Name    Zangoose
Name: 367, dtype: object
368 Name    Seviper
Name: 368, dtype: object
369 Name    Lunatone
Name: 369, dtype: object
370 Name    Solrock
Name: 370, dtype: object
371 Name    Barboach
Name: 371, dtype: object
372 Name    Whiscash
Name: 372, dtype: object
373 Name    Corphish
Name: 373, dtype: object
374 Name    Crawdaunt
Name: 374, dtype: object
375 Name    Baltoy
Name: 375, dtype: object
376 Name    Claydol
Name: 376, dtype: object
377 Name    Lileep
Name: 377, dtype: object
378 Name    Cradily
Name: 378, dtype: object
379 Name    Anorith
Name: 379, dtype: object
380 Name    Armaldo
Name: 380, dtype: object
381 Name    Feebas
Name: 381, dtype: object
382 Name    Milotic
Name: 382, dtype: object
383 Name    Castform
Name: 383, dtype: object
384 Name    Kecleon
Name: 384, dtype: object
385 Name    Shuppet
Name: 385, dtype: object
386 Name    Banette
Name: 386, dtype: object
387 Name    BanetteMega Banette
Name: 387, dtype: object
388 Name    Duskull
Name: 388, dtype: object
389 Name    Dusclops
Name: 389, dtype: object
390 Name    Tropius
Name: 390, dtype: object
391 Name    Chimecho
Name: 391, dtype: object
392 Name    Absol
Name: 392, dtype: object
393 Name    AbsolMega Absol
Name: 393, dtype: object
394 Name    Wynaut
Name: 394, dtype: object
395 Name    Snorunt
Name: 395, dtype: object
396 Name    Glalie
Name: 396, dtype: object
397 Name    GlalieMega Glalie
Name: 397, dtype: object
398 Name    Spheal
Name: 398, dtype: object
399 Name    Sealeo
Name: 399, dtype: object
400 Name    Walrein
Name: 400, dtype: object
401 Name    Clamperl
Name: 401, dtype: object
402 Name    Huntail
Name: 402, dtype: object
403 Name    Gorebyss
Name: 403, dtype: object
404 Name    Relicanth
Name: 404, dtype: object
405 Name    Luvdisc
Name: 405, dtype: object
406 Name    Bagon
Name: 406, dtype: object
407 Name    Shelgon
Name: 407, dtype: object
408 Name    Salamence
Name: 408, dtype: object
409 Name    SalamenceMega Salamence
Name: 409, dtype: object
410 Name    Beldum
Name: 410, dtype: object
411 Name    Metang
Name: 411, dtype: object
412 Name    Metagross
Name: 412, dtype: object
413 Name    MetagrossMega Metagross
Name: 413, dtype: object
414 Name    Regirock
Name: 414, dtype: object
415 Name    Regice
Name: 415, dtype: object
416 Name    Registeel
Name: 416, dtype: object
417 Name    Latias
Name: 417, dtype: object
418 Name    LatiasMega Latias
Name: 418, dtype: object
419 Name    Latios
Name: 419, dtype: object
420 Name    LatiosMega Latios
Name: 420, dtype: object
421 Name    Kyogre
Name: 421, dtype: object
422 Name    KyogrePrimal Kyogre
Name: 422, dtype: object
423 Name    Groudon
Name: 423, dtype: object
424 Name    GroudonPrimal Groudon
Name: 424, dtype: object
425 Name    Rayquaza
Name: 425, dtype: object
426 Name    RayquazaMega Rayquaza
Name: 426, dtype: object
427 Name    Jirachi
Name: 427, dtype: object
428 Name    DeoxysNormal Forme
Name: 428, dtype: object
429 Name    DeoxysAttack Forme
Name: 429, dtype: object
430 Name    DeoxysDefense Forme
Name: 430, dtype: object
431 Name    DeoxysSpeed Forme
Name: 431, dtype: object
432 Name    Turtwig
Name: 432, dtype: object
433 Name    Grotle
Name: 433, dtype: object
434 Name    Torterra
Name: 434, dtype: object
435 Name    Chimchar
Name: 435, dtype: object
436 Name    Monferno
Name: 436, dtype: object
437 Name    Infernape
Name: 437, dtype: object
438 Name    Piplup
Name: 438, dtype: object
439 Name    Prinplup
Name: 439, dtype: object
440 Name    Empoleon
Name: 440, dtype: object
441 Name    Starly
Name: 441, dtype: object
442 Name    Staravia
Name: 442, dtype: object
443 Name    Staraptor
Name: 443, dtype: object
444 Name    Bidoof
Name: 444, dtype: object
445 Name    Bibarel
Name: 445, dtype: object
446 Name    Kricketot
Name: 446, dtype: object
447 Name    Kricketune
Name: 447, dtype: object
448 Name    Shinx
Name: 448, dtype: object
449 Name    Luxio
Name: 449, dtype: object
450 Name    Luxray
Name: 450, dtype: object
451 Name    Budew
Name: 451, dtype: object
452 Name    Roserade
Name: 452, dtype: object
453 Name    Cranidos
Name: 453, dtype: object
454 Name    Rampardos
Name: 454, dtype: object
455 Name    Shieldon
Name: 455, dtype: object
456 Name    Bastiodon
Name: 456, dtype: object
457 Name    Burmy
Name: 457, dtype: object
458 Name    WormadamPlant Cloak
Name: 458, dtype: object
459 Name    WormadamSandy Cloak
Name: 459, dtype: object
460 Name    WormadamTrash Cloak
Name: 460, dtype: object
461 Name    Mothim
Name: 461, dtype: object
462 Name    Combee
Name: 462, dtype: object
463 Name    Vespiquen
Name: 463, dtype: object
464 Name    Pachirisu
Name: 464, dtype: object
465 Name    Buizel
Name: 465, dtype: object
466 Name    Floatzel
Name: 466, dtype: object
467 Name    Cherubi
Name: 467, dtype: object
468 Name    Cherrim
Name: 468, dtype: object
469 Name    Shellos
Name: 469, dtype: object
470 Name    Gastrodon
Name: 470, dtype: object
471 Name    Ambipom
Name: 471, dtype: object
472 Name    Drifloon
Name: 472, dtype: object
473 Name    Drifblim
Name: 473, dtype: object
474 Name    Buneary
Name: 474, dtype: object
475 Name    Lopunny
Name: 475, dtype: object
476 Name    LopunnyMega Lopunny
Name: 476, dtype: object
477 Name    Mismagius
Name: 477, dtype: object
478 Name    Honchkrow
Name: 478, dtype: object
479 Name    Glameow
Name: 479, dtype: object
480 Name    Purugly
Name: 480, dtype: object
481 Name    Chingling
Name: 481, dtype: object
482 Name    Stunky
Name: 482, dtype: object
483 Name    Skuntank
Name: 483, dtype: object
484 Name    Bronzor
Name: 484, dtype: object
485 Name    Bronzong
Name: 485, dtype: object
486 Name    Bonsly
Name: 486, dtype: object
487 Name    Mime Jr.
Name: 487, dtype: object
488 Name    Happiny
Name: 488, dtype: object
489 Name    Chatot
Name: 489, dtype: object
490 Name    Spiritomb
Name: 490, dtype: object
491 Name    Gible
Name: 491, dtype: object
492 Name    Gabite
Name: 492, dtype: object
493 Name    Garchomp
Name: 493, dtype: object
494 Name    GarchompMega Garchomp
Name: 494, dtype: object
495 Name    Munchlax
Name: 495, dtype: object
496 Name    Riolu
Name: 496, dtype: object
497 Name    Lucario
Name: 497, dtype: object
498 Name    LucarioMega Lucario
Name: 498, dtype: object
499 Name    Hippopotas
Name: 499, dtype: object
500 Name    Hippowdon
Name: 500, dtype: object
501 Name    Skorupi
Name: 501, dtype: object
502 Name    Drapion
Name: 502, dtype: object
503 Name    Croagunk
Name: 503, dtype: object
504 Name    Toxicroak
Name: 504, dtype: object
505 Name    Carnivine
Name: 505, dtype: object
506 Name    Finneon
Name: 506, dtype: object
507 Name    Lumineon
Name: 507, dtype: object
508 Name    Mantyke
Name: 508, dtype: object
509 Name    Snover
Name: 509, dtype: object
510 Name    Abomasnow
Name: 510, dtype: object
511 Name    AbomasnowMega Abomasnow
Name: 511, dtype: object
512 Name    Weavile
Name: 512, dtype: object
513 Name    Magnezone
Name: 513, dtype: object
514 Name    Lickilicky
Name: 514, dtype: object
515 Name    Rhyperior
Name: 515, dtype: object
516 Name    Tangrowth
Name: 516, dtype: object
517 Name    Electivire
Name: 517, dtype: object
518 Name    Magmortar
Name: 518, dtype: object
519 Name    Togekiss
Name: 519, dtype: object
520 Name    Yanmega
Name: 520, dtype: object
521 Name    Leafeon
Name: 521, dtype: object
522 Name    Glaceon
Name: 522, dtype: object
523 Name    Gliscor
Name: 523, dtype: object
524 Name    Mamoswine
Name: 524, dtype: object
525 Name    Porygon-Z
Name: 525, dtype: object
526 Name    Gallade
Name: 526, dtype: object
527 Name    GalladeMega Gallade
Name: 527, dtype: object
528 Name    Probopass
Name: 528, dtype: object
529 Name    Dusknoir
Name: 529, dtype: object
530 Name    Froslass
Name: 530, dtype: object
531 Name    Rotom
Name: 531, dtype: object
532 Name    RotomHeat Rotom
Name: 532, dtype: object
533 Name    RotomWash Rotom
Name: 533, dtype: object
534 Name    RotomFrost Rotom
Name: 534, dtype: object
535 Name    RotomFan Rotom
Name: 535, dtype: object
536 Name    RotomMow Rotom
Name: 536, dtype: object
537 Name    Uxie
Name: 537, dtype: object
538 Name    Mesprit
Name: 538, dtype: object
539 Name    Azelf
Name: 539, dtype: object
540 Name    Dialga
Name: 540, dtype: object
541 Name    Palkia
Name: 541, dtype: object
542 Name    Heatran
Name: 542, dtype: object
543 Name    Regigigas
Name: 543, dtype: object
544 Name    GiratinaAltered Forme
Name: 544, dtype: object
545 Name    GiratinaOrigin Forme
Name: 545, dtype: object
546 Name    Cresselia
Name: 546, dtype: object
547 Name    Phione
Name: 547, dtype: object
548 Name    Manaphy
Name: 548, dtype: object
549 Name    Darkrai
Name: 549, dtype: object
550 Name    ShayminLand Forme
Name: 550, dtype: object
551 Name    ShayminSky Forme
Name: 551, dtype: object
552 Name    Arceus
Name: 552, dtype: object
553 Name    Victini
Name: 553, dtype: object
554 Name    Snivy
Name: 554, dtype: object
555 Name    Servine
Name: 555, dtype: object
556 Name    Serperior
Name: 556, dtype: object
557 Name    Tepig
Name: 557, dtype: object
558 Name    Pignite
Name: 558, dtype: object
559 Name    Emboar
Name: 559, dtype: object
560 Name    Oshawott
Name: 560, dtype: object
561 Name    Dewott
Name: 561, dtype: object
562 Name    Samurott
Name: 562, dtype: object
563 Name    Patrat
Name: 563, dtype: object
564 Name    Watchog
Name: 564, dtype: object
565 Name    Lillipup
Name: 565, dtype: object
566 Name    Herdier
Name: 566, dtype: object
567 Name    Stoutland
Name: 567, dtype: object
568 Name    Purrloin
Name: 568, dtype: object
569 Name    Liepard
Name: 569, dtype: object
570 Name    Pansage
Name: 570, dtype: object
571 Name    Simisage
Name: 571, dtype: object
572 Name    Pansear
Name: 572, dtype: object
573 Name    Simisear
Name: 573, dtype: object
574 Name    Panpour
Name: 574, dtype: object
575 Name    Simipour
Name: 575, dtype: object
576 Name    Munna
Name: 576, dtype: object
577 Name    Musharna
Name: 577, dtype: object
578 Name    Pidove
Name: 578, dtype: object
579 Name    Tranquill
Name: 579, dtype: object
580 Name    Unfezant
Name: 580, dtype: object
581 Name    Blitzle
Name: 581, dtype: object
582 Name    Zebstrika
Name: 582, dtype: object
583 Name    Roggenrola
Name: 583, dtype: object
584 Name    Boldore
Name: 584, dtype: object
585 Name    Gigalith
Name: 585, dtype: object
586 Name    Woobat
Name: 586, dtype: object
587 Name    Swoobat
Name: 587, dtype: object
588 Name    Drilbur
Name: 588, dtype: object
589 Name    Excadrill
Name: 589, dtype: object
590 Name    Audino
Name: 590, dtype: object
591 Name    AudinoMega Audino
Name: 591, dtype: object
592 Name    Timburr
Name: 592, dtype: object
593 Name    Gurdurr
Name: 593, dtype: object
594 Name    Conkeldurr
Name: 594, dtype: object
595 Name    Tympole
Name: 595, dtype: object
596 Name    Palpitoad
Name: 596, dtype: object
597 Name    Seismitoad
Name: 597, dtype: object
598 Name    Throh
Name: 598, dtype: object
599 Name    Sawk
Name: 599, dtype: object
600 Name    Sewaddle
Name: 600, dtype: object
601 Name    Swadloon
Name: 601, dtype: object
602 Name    Leavanny
Name: 602, dtype: object
603 Name    Venipede
Name: 603, dtype: object
604 Name    Whirlipede
Name: 604, dtype: object
605 Name    Scolipede
Name: 605, dtype: object
606 Name    Cottonee
Name: 606, dtype: object
607 Name    Whimsicott
Name: 607, dtype: object
608 Name    Petilil
Name: 608, dtype: object
609 Name    Lilligant
Name: 609, dtype: object
610 Name    Basculin
Name: 610, dtype: object
611 Name    Sandile
Name: 611, dtype: object
612 Name    Krokorok
Name: 612, dtype: object
613 Name    Krookodile
Name: 613, dtype: object
614 Name    Darumaka
Name: 614, dtype: object
615 Name    DarmanitanStandard Mode
Name: 615, dtype: object
616 Name    DarmanitanZen Mode
Name: 616, dtype: object
617 Name    Maractus
Name: 617, dtype: object
618 Name    Dwebble
Name: 618, dtype: object
619 Name    Crustle
Name: 619, dtype: object
620 Name    Scraggy
Name: 620, dtype: object
621 Name    Scrafty
Name: 621, dtype: object
622 Name    Sigilyph
Name: 622, dtype: object
623 Name    Yamask
Name: 623, dtype: object
624 Name    Cofagrigus
Name: 624, dtype: object
625 Name    Tirtouga
Name: 625, dtype: object
626 Name    Carracosta
Name: 626, dtype: object
627 Name    Archen
Name: 627, dtype: object
628 Name    Archeops
Name: 628, dtype: object
629 Name    Trubbish
Name: 629, dtype: object
630 Name    Garbodor
Name: 630, dtype: object
631 Name    Zorua
Name: 631, dtype: object
632 Name    Zoroark
Name: 632, dtype: object

633 Name    Minccino
Name: 633, dtype: object
634 Name    Cinccino
Name: 634, dtype: object
635 Name    Gothita
Name: 635, dtype: object
636 Name    Gothorita
Name: 636, dtype: object
637 Name    Gothitelle
Name: 637, dtype: object
638 Name    Solosis
Name: 638, dtype: object
639 Name    Duosion
Name: 639, dtype: object
640 Name    Reuniclus
Name: 640, dtype: object
641 Name    Ducklett
Name: 641, dtype: object
642 Name    Swanna
Name: 642, dtype: object
643 Name    Vanillite
Name: 643, dtype: object
644 Name    Vanillish
Name: 644, dtype: object
645 Name    Vanilluxe
Name: 645, dtype: object
646 Name    Deerling
Name: 646, dtype: object
647 Name    Sawsbuck
Name: 647, dtype: object
648 Name    Emolga
Name: 648, dtype: object
649 Name    Karrablast
Name: 649, dtype: object
650 Name    Escavalier
Name: 650, dtype: object
651 Name    Foongus
Name: 651, dtype: object
652 Name    Amoonguss
Name: 652, dtype: object
653 Name    Frillish
Name: 653, dtype: object
654 Name    Jellicent
Name: 654, dtype: object
655 Name    Alomomola
Name: 655, dtype: object
656 Name    Joltik
Name: 656, dtype: object
657 Name    Galvantula
Name: 657, dtype: object
658 Name    Ferroseed
Name: 658, dtype: object
659 Name    Ferrothorn
Name: 659, dtype: object
660 Name    Klink
Name: 660, dtype: object
661 Name    Klang
Name: 661, dtype: object
662 Name    Klinklang
Name: 662, dtype: object
663 Name    Tynamo
Name: 663, dtype: object
664 Name    Eelektrik
Name: 664, dtype: object
665 Name    Eelektross
Name: 665, dtype: object
666 Name    Elgyem
Name: 666, dtype: object
667 Name    Beheeyem
Name: 667, dtype: object
668 Name    Litwick
Name: 668, dtype: object
669 Name    Lampent
Name: 669, dtype: object
670 Name    Chandelure
Name: 670, dtype: object
671 Name    Axew
Name: 671, dtype: object
672 Name    Fraxure
Name: 672, dtype: object
673 Name    Haxorus
Name: 673, dtype: object
674 Name    Cubchoo
Name: 674, dtype: object
675 Name    Beartic
Name: 675, dtype: object
676 Name    Cryogonal
Name: 676, dtype: object
677 Name    Shelmet
Name: 677, dtype: object
678 Name    Accelgor
Name: 678, dtype: object
679 Name    Stunfisk
Name: 679, dtype: object
680 Name    Mienfoo
Name: 680, dtype: object
681 Name    Mienshao
Name: 681, dtype: object
682 Name    Druddigon
Name: 682, dtype: object
683 Name    Golett
Name: 683, dtype: object
684 Name    Golurk
Name: 684, dtype: object
685 Name    Pawniard
Name: 685, dtype: object
686 Name    Bisharp
Name: 686, dtype: object
687 Name    Bouffalant
Name: 687, dtype: object
688 Name    Rufflet
Name: 688, dtype: object
689 Name    Braviary
Name: 689, dtype: object
690 Name    Vullaby
Name: 690, dtype: object
691 Name    Mandibuzz
Name: 691, dtype: object
692 Name    Heatmor
Name: 692, dtype: object
693 Name    Durant
Name: 693, dtype: object
694 Name    Deino
Name: 694, dtype: object
695 Name    Zweilous
Name: 695, dtype: object
696 Name    Hydreigon
Name: 696, dtype: object
697 Name    Larvesta
Name: 697, dtype: object
698 Name    Volcarona
Name: 698, dtype: object
699 Name    Cobalion
Name: 699, dtype: object
700 Name    Terrakion
Name: 700, dtype: object
701 Name    Virizion
Name: 701, dtype: object
702 Name    TornadusIncarnate Forme
Name: 702, dtype: object
703 Name    TornadusTherian Forme
Name: 703, dtype: object
704 Name    ThundurusIncarnate Forme
Name: 704, dtype: object
705 Name    ThundurusTherian Forme
Name: 705, dtype: object
706 Name    Reshiram
Name: 706, dtype: object
707 Name    Zekrom
Name: 707, dtype: object
708 Name    LandorusIncarnate Forme
Name: 708, dtype: object
709 Name    LandorusTherian Forme
Name: 709, dtype: object
710 Name    Kyurem
Name: 710, dtype: object
711 Name    KyuremBlack Kyurem
Name: 711, dtype: object
712 Name    KyuremWhite Kyurem
Name: 712, dtype: object
713 Name    KeldeoOrdinary Forme
Name: 713, dtype: object
714 Name    KeldeoResolute Forme
Name: 714, dtype: object
715 Name    MeloettaAria Forme
Name: 715, dtype: object
716 Name    MeloettaPirouette Forme
Name: 716, dtype: object
717 Name    Genesect
Name: 717, dtype: object
718 Name    Chespin
Name: 718, dtype: object
719 Name    Quilladin
Name: 719, dtype: object
720 Name    Chesnaught
Name: 720, dtype: object
721 Name    Fennekin
Name: 721, dtype: object
722 Name    Braixen
Name: 722, dtype: object
723 Name    Delphox
Name: 723, dtype: object
724 Name    Froakie
Name: 724, dtype: object
725 Name    Frogadier
Name: 725, dtype: object
726 Name    Greninja
Name: 726, dtype: object
727 Name    Bunnelby
Name: 727, dtype: object
728 Name    Diggersby
Name: 728, dtype: object
729 Name    Fletchling
Name: 729, dtype: object
730 Name    Fletchinder
Name: 730, dtype: object
731 Name    Talonflame
Name: 731, dtype: object
732 Name    Scatterbug
Name: 732, dtype: object
733 Name    Spewpa
Name: 733, dtype: object
734 Name    Vivillon
Name: 734, dtype: object
735 Name    Litleo
Name: 735, dtype: object
736 Name    Pyroar
Name: 736, dtype: object
737 Name    FlabÃ©bÃ©
Name: 737, dtype: object
738 Name    Floette
Name: 738, dtype: object
739 Name    Florges
Name: 739, dtype: object
740 Name    Skiddo
Name: 740, dtype: object
741 Name    Gogoat
Name: 741, dtype: object
742 Name    Pancham
Name: 742, dtype: object
743 Name    Pangoro
Name: 743, dtype: object
744 Name    Furfrou
Name: 744, dtype: object
745 Name    Espurr
Name: 745, dtype: object
746 Name    MeowsticMale
Name: 746, dtype: object
747 Name    MeowsticFemale
Name: 747, dtype: object
748 Name    Honedge
Name: 748, dtype: object
749 Name    Doublade
Name: 749, dtype: object
750 Name    AegislashBlade Forme
Name: 750, dtype: object
751 Name    AegislashShield Forme
Name: 751, dtype: object
752 Name    Spritzee
Name: 752, dtype: object
753 Name    Aromatisse
Name: 753, dtype: object
754 Name    Swirlix
Name: 754, dtype: object
755 Name    Slurpuff
Name: 755, dtype: object
756 Name    Inkay
Name: 756, dtype: object
757 Name    Malamar
Name: 757, dtype: object
758 Name    Binacle
Name: 758, dtype: object
759 Name    Barbaracle
Name: 759, dtype: object
760 Name    Skrelp
Name: 760, dtype: object
761 Name    Dragalge
Name: 761, dtype: object
762 Name    Clauncher
Name: 762, dtype: object
763 Name    Clawitzer
Name: 763, dtype: object
764 Name    Helioptile
Name: 764, dtype: object
765 Name    Heliolisk
Name: 765, dtype: object
766 Name    Tyrunt
Name: 766, dtype: object
767 Name    Tyrantrum
Name: 767, dtype: object
768 Name    Amaura
Name: 768, dtype: object
769 Name    Aurorus
Name: 769, dtype: object
770 Name    Sylveon
Name: 770, dtype: object
771 Name    Hawlucha
Name: 771, dtype: object
772 Name    Dedenne
Name: 772, dtype: object
773 Name    Carbink
Name: 773, dtype: object
774 Name    Goomy
Name: 774, dtype: object
775 Name    Sliggoo
Name: 775, dtype: object
776 Name    Goodra
Name: 776, dtype: object
777 Name    Klefki
Name: 777, dtype: object
778 Name    Phantump
Name: 778, dtype: object
779 Name    Trevenant
Name: 779, dtype: object
780 Name    PumpkabooAverage Size
Name: 780, dtype: object
781 Name    PumpkabooSmall Size
Name: 781, dtype: object
782 Name    PumpkabooLarge Size
Name: 782, dtype: object
783 Name    PumpkabooSuper Size
Name: 783, dtype: object
784 Name    GourgeistAverage Size
Name: 784, dtype: object
785 Name    GourgeistSmall Size
Name: 785, dtype: object
786 Name    GourgeistLarge Size
Name: 786, dtype: object
787 Name    GourgeistSuper Size
Name: 787, dtype: object
788 Name    Bergmite
Name: 788, dtype: object
789 Name    Avalugg
Name: 789, dtype: object
790 Name    Noibat
Name: 790, dtype: object
791 Name    Noivern
Name: 791, dtype: object
792 Name    Xerneas
Name: 792, dtype: object
793 Name    Yveltal
Name: 793, dtype: object
794 Name    Zygarde50% Forme
Name: 794, dtype: object
795 Name    Diancie
Name: 795, dtype: object
796 Name    DiancieMega Diancie
Name: 796, dtype: object
797 Name    HoopaHoopa Confined
Name: 797, dtype: object
798 Name    HoopaHoopa Unbound
Name: 798, dtype: object
799 Name    Volcanion
Name: 799, dtype: object

In [123]:
# locating information bases on textual information
data.loc[data['Type 1'] == 'Fire']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
42,37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False
43,38,Ninetales,Fire,NaN,73,76,75,81,100,100,1,False
63,58,Growlithe,Fire,NaN,55,70,45,70,50,60,1,False
64,59,Arcanine,Fire,NaN,90,110,80,100,80,95,1,False
83,77,Ponyta,Fire,NaN,50,85,55,65,65,90,1,False
84,78,Rapidash,Fire,NaN,65,100,70,80,80,105,1,False
135,126,Magmar,Fire,NaN,65,95,57,100,85,93,1,False
147,136,Flareon,Fire,NaN,65,130,60,95,110,65,1,False
158,146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True
169,155,Cyndaquil,Fire,NaN,39,52,43,60,50,65,2,False
170,156,Quilava,Fire,NaN,58,64,58,80,65,80,2,False
171,157,Typhlosion,Fire,NaN,78,84,78,109,85,100,2,False
236,218,Slugma,Fire,NaN,40,40,40,70,40,20,2,False
237,219,Magcargo,Fire,Rock,50,50,120,80,80,30,2,False
259,240,Magby,Fire,NaN,45,75,37,70,55,83,2,False
263,244,Entei,Fire,NaN,115,115,85,90,75,100,2,True
270,250,Ho-oh,Fire,Flying,106,130,90,110,154,90,2,True
276,255,Torchic,Fire,NaN,45,60,40,70,50,45,3,False
277,256,Combusken,Fire,Fighting,60,85,60,85,60,55,3,False
278,257,Blaziken,Fire,Fighting,80,120,70,110,70,80,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False
352,322,Numel,Fire,Ground,60,60,40,65,45,35,3,False
353,323,Camerupt,Fire,Ground,70,100,70,105,75,40,3,False
354,323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False
355,324,Torkoal,Fire,NaN,70,85,140,85,70,20,3,False
435,390,Chimchar,Fire,NaN,44,58,44,58,44,61,4,False
436,391,Monferno,Fire,Fighting,64,78,52,78,52,81,4,False
437,392,Infernape,Fire,Fighting,76,104,71,104,71,108,4,False
518,467,Magmortar,Fire,NaN,75,95,67,125,95,83,4,False
542,485,Heatran,Fire,Steel,91,90,106,130,106,77,4,True
557,498,Tepig,Fire,NaN,65,63,45,45,45,45,5,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
559,500,Emboar,Fire,Fighting,110,123,65,100,65,65,5,False
572,513,Pansear,Fire,NaN,50,53,48,53,48,64,5,False
573,514,Simisear,Fire,NaN,75,98,63,98,63,101,5,False
614,554,Darumaka,Fire,NaN,70,90,45,15,45,50,5,False
615,555,DarmanitanStandard Mode,Fire,NaN,105,140,55,30,55,95,5,False
616,555,DarmanitanZen Mode,Fire,Psychic,105,30,105,140,105,55,5,False
692,631,Heatmor,Fire,NaN,85,97,66,105,66,65,5,False
721,653,Fennekin,Fire,NaN,40,45,40,62,60,60,6,False
722,654,Braixen,Fire,NaN,59,59,58,90,70,73,6,False
723,655,Delphox,Fire,Psychic,75,69,72,114,100,104,6,False
730,662,Fletchinder,Fire,Flying,62,73,55,56,52,84,6,False
731,663,Talonflame,Fire,Flying,78,81,71,74,69,126,6,False
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [124]:
# get basic stats on data frame
data.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [125]:
# sorting values in a data frame
data.sort_values(['Name']).head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False

In [126]:
# sorting values by multiple columns
data.sort_values(['Name','Defense'], ascending=False).head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False

In [127]:
# sorting using ascendiing mask
data.sort_values(['Name','HP'], ascending=[1,0]).head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False

In [128]:
# making changes to the tqble, adding new columns
data['Total'] = data['Attack'] + data['Defense']

In [129]:
data.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,98
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,125
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,165
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,223
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,95

In [130]:
# droping a specific column from a data frame
data.drop('Total', inplace=True, axis=1)

In [131]:
data.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [132]:
# performing row operations using iloc
data['Total'] = data.iloc[:,4:10].sum(axis=1)

In [133]:
data.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [134]:
# Rearrranging columns in a data frame
cols = list(data.columns)
data = data[cols[0:4] + [cols[-1]] + cols[5:12]]

In [135]:
data.head(5)

,#,Name,Type 1,Type 2,Total,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,52,43,60,50,65,1,False

In [136]:
# saving back as a csv file
data.to_csv('data/modified_pokemon_data.csv', index = False)
data.to_excel('data/modified_pokemon_data.xlsx',index = False)
data.to_csv('data/modified_pokemon_data.txt',index = False, sep = '\t')

#### Filtering Data

In [137]:
# use & instead of and
new_df = data.loc[(data['Type 1'] == 'Grass') & (data['Type 2'] == 'Poison')]
new_df.head(5)

,#,Name,Type 1,Type 2,Total,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,320,50,55,75,65,30,1,False

#### Reset Index

In [138]:
new_df.reset_index(drop = True, inplace=True)

In [139]:
new_df.head(10)

,#,Name,Type 1,Type 2,Total,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,100,123,122,120,80,1,False
4,43,Oddish,Grass,Poison,320,50,55,75,65,30,1,False
5,44,Gloom,Grass,Poison,395,65,70,85,75,40,1,False
6,45,Vileplume,Grass,Poison,490,80,85,110,90,50,1,False
7,69,Bellsprout,Grass,Poison,300,75,35,70,30,40,1,False
8,70,Weepinbell,Grass,Poison,390,90,50,85,45,55,1,False
9,71,Victreebel,Grass,Poison,490,105,65,100,70,70,1,False

In [140]:
# extracting names the contain a certain text
data[~data['Name'].str.contains('Mega')].head(5)

,#,Name,Type 1,Type 2,Total,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,82,83,100,100,80,1,False
4,4,Charmander,Fire,NaN,309,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,64,58,80,65,80,1,False

#### Passing regular expressions

In [141]:
import re

In [142]:
data.loc[ data['Type 1'].str.contains('file|grass', flags=re.I, regex=True) ]
# re.I refers to Ignore

,#,Name,Type 1,Type 2,Total,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,320,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,313,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,405,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,530,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,350,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,531,100,62,97,81,68,6,False

In [143]:
# stating with a centain alphabets
data.loc[ data['Name'].str.contains('^pi[a-z]*', flags=re.I, regex=True) ]

,#,Name,Type 1,Type 2,Total,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,251,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,349,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,479,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,320,55,40,50,50,90,1,False
136,127,Pinsir,Bug,NaN,500,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,600,155,120,65,90,105,1,False
186,172,Pichu,Electric,NaN,205,40,15,35,35,60,2,False
219,204,Pineco,Bug,NaN,290,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,450,100,80,60,60,50,2,False
438,393,Piplup,Water,NaN,314,51,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,418,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,264,55,50,36,30,43,5,False

#### Conditional Statements

In [146]:
data.loc[data['Type 1'] == 'Fire', 'Type 1' ] = 'Flamer'
data.head(10)

,#,Name,Type 1,Type 2,Total,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,100,123,122,120,80,1,False
4,4,Charmander,Flamer,NaN,309,52,43,60,50,65,1,False
5,5,Charmeleon,Flamer,NaN,405,64,58,80,65,80,1,False
6,6,Charizard,Flamer,Flying,534,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Flamer,Dragon,634,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Flamer,Flying,634,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,48,65,50,64,43,1,False

In [147]:
data.loc[ data['Total'] > 500, ['Legendary','Generation']] = 'TEST VALUE'

In [150]:
data =  pd.read_csv('data/modified_pokemon_data.csv')

#### Aggregate Statistics

In [162]:
# checking which type of type 1 pokemon has the average attack value
data.groupby('Type 1').mean().sort_values('Attack',ascending=False)

,#,Total,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,
Dragon,474.375000,550.531250,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000
Fighting,363.851852,416.444444,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000
Ground,356.281250,437.500000,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000
Rock,392.727273,453.750000,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909
Steel,442.851852,487.703704,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148
Dark,461.354839,445.741935,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516
Fire,327.403846,458.076923,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154
Flying,677.750000,485.000000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000
Poison,251.785714,399.142857,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000
Water,303.089286,430.455357,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714
Ghost,486.500000,439.562500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500
Normal,319.173469,401.683673,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408
Grass,344.871429,421.142857,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857
Ice,423.541667,433.458333,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333
Psychic,380.807018,475.947368,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614
Bug,334.492754,378.927536,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000
Electric,363.500000,443.409091,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909
Fairy,449.529412,413.176471,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824

In [165]:
data.groupby('Type 1').sum().sort_values('Attack',ascending=False)

,#,Total,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,
Water,33946,48211,8305,8170,8379,7898,7388,320,4.0
Normal,31279,39365,7200,5865,5470,6245,7012,299,2.0
Grass,24141,29480,5125,4956,5425,4930,4335,235,3.0
Bug,23080,26146,4897,4880,3717,4471,4256,222,0.0
Fire,17025,23820,4408,3524,4627,3755,3871,167,5.0
Rock,17280,19965,4086,4435,2787,3321,2460,152,4.0
Psychic,21706,27129,4073,3858,5609,4918,4645,193,14.0
Dragon,15180,17617,3588,2764,3099,2843,2657,124,12.0
Ground,11401,14000,3064,2715,1807,2008,2045,101,4.0
Electric,15994,19510,3040,2917,3961,3243,3718,144,4.0
Dark,14302,13818,2740,2177,2314,2155,2361,125,2.0
Fighting,9824,11244,2613,1780,1434,1747,1784,91,0.0
Steel,11957,13168,2503,3412,1823,2177,1492,104,4.0
Ghost,15568,14066,2361,2598,2539,2447,2059,134,2.0
Poison,7050,11176,2091,1927,1692,1803,1780,71,0.0
Ice,10165,10403,1746,1714,1861,1831,1523,85,2.0
Fairy,7642,7024,1046,1117,1335,1440,826,70,1.0
Flying,2711,1940,315,265,377,290,410,22,2.0

In [166]:
data.groupby('Type 1').count()

,#,Name,Type 2,Total,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,,
Bug,69,69,52,69,69,69,69,69,69,69,69
Dark,31,31,21,31,31,31,31,31,31,31,31
Dragon,32,32,21,32,32,32,32,32,32,32,32
Electric,44,44,17,44,44,44,44,44,44,44,44
Fairy,17,17,2,17,17,17,17,17,17,17,17
Fighting,27,27,7,27,27,27,27,27,27,27,27
Fire,52,52,24,52,52,52,52,52,52,52,52
Flying,4,4,2,4,4,4,4,4,4,4,4
Ghost,32,32,22,32,32,32,32,32,32,32,32
Grass,70,70,37,70,70,70,70,70,70,70,70
Ground,32,32,19,32,32,32,32,32,32,32,32
Ice,24,24,11,24,24,24,24,24,24,24,24
Normal,98,98,37,98,98,98,98,98,98,98,98
Poison,28,28,13,28,28,28,28,28,28,28,28
Psychic,57,57,19,57,57,57,57,57,57,57,57
Rock,44,44,35,44,44,44,44,44,44,44,44
Steel,27,27,22,27,27,27,27,27,27,27,27
Water,112,112,53,112,112,112,112,112,112,112,112

In [167]:
data['count'] = 1

In [171]:
# grouping by two column types
data.groupby(['Type 1','Type 2']).count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64

#### Working with large amounts of data